rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // The application communicates with Firestore from the backend server
    // (using our Node/Express proxy) without Firebase Client Authentication.
    // Thus, server-side database calls have request.auth == null.
    // All actual access control & JWT validation are securely forced on the backend.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
